#headingTitle{
	text-align: center;
}

#subHeadingTitle{
	text-align: center;
}

#tableAll{
	text-align: center;
}
.headCenter{
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
}

table,th,td{
	border:2px solid #000000;
	border-collapse: collapse;
	text-align: left;
	padding: 5px;

}

table{
	width: 100%;


}
td{
	font-size: 22px;
}

